
.title {
	font-size: 40px;
	margin: 10px 0 40px 0;
}

.post:hover {
	cursor: pointer;
	background-color: gray;
}

.nav-background {
	background-image: linear-gradient(to right, rgb(62, 101, 255) 0%, rgb(73, 155, 234) 100%);
}
