section {
	background-color: #fafafa;
	padding: 0 20px;
	margin: 30px 0;
}

textarea {
	vertical-align: top;
}

label span {
	font-size:20px;
	margin-right: 20px;
}

input {
	line-height:25px;
}

.hobby {
	background-color: #fafafa;
	padding: 30px 20px;
	margin: 10px 0;
}

.title {
	font-size: 40px;
	margin: 10px 0 40px 0;
}

.container {
	background-color: #FFFFFF;
	margin: 0 60px;
	padding: 45px 50px;
}

.label {
	margin: 0 0 35px 5%;
}

.buttons {
	margin-top: 60px;
	padding-left: 40%
}

.button {
	width: 50px;
	height: 30px;
}